@import url('https://fonts.googleapis.com/css?family=Amaranth|Press+Start+2P&display=swap');
html{
    height: 100%;
}
body{
    text-align: center;
    color: #fff;
    background-color: rgb(22, 22, 22);
    padding: 20px 5;
    font-size: 24px; 
    font-family: Amaranth;
    background: url(images/cyber.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    font-family: 'Press Start 2P';
    font-size: 1.6em;
    color: #89f144;
}
header{
    padding-top: 15px;
    line-height: 70%;
}

#container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;

}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 20%;
    
}
.cxtxt{
    min-width: 35%;
}

label {
    display:block;
}
input[type=submit]{
    background:    #51961d; 
    background:    linear-gradient(#62b529, #51961d 50%, #62b529);
    border-radius: 12px;
    padding:       6px 8px;
    color:         #ffffff;
    display:       inline-block;
    font:          20px "Press Start 2P", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #666666;
    font-size:     0.5em;
    margin:        5px;
   
}
input[type=number]{
    margin: auto;
    width: 50px;
    font-size: 16px;
}
input[type=reset]{
    color: #fff;
    background:    linear-gradient(#b52929, #961d1d 50%, #b52929);
    border-radius: 12px;
    padding: 0px 8px;
}

textarea{
    background-color: rgb(177, 177, 177);
    font-size: 16px;
    height: 200px;
    border-radius: 12px;
    padding: 15px;
    width: 90%;
}



@media screen and (max-width: 760px) {
  body{
    margin: 5px;
    font-size: 20px;
    background-size: cover;
  }
  h1{
    font-size: 1.2em;
  }
  header{
    line-height: 110%;
  }
  #container{
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
  }

  .cxtxt{
    width: 90%;
    height: 35%;
    margin: 20px 0;
  }

  label{
    text-align: left;
    margin-left: 15px;
  }

  #buttons{
    flex-direction: row; 
    justify-content: space-evenly;
    max-width: 100%;
    width: 80%;

  }
  textarea{
    height: 100px;
}
input[type=reset]{
    order:2;
    font-size: 0.6em;
    padding: 3px 5px;
}
#cifrar{
    order: 1;
}

#decifrar{
    order: 3;
}
}